/*
  For more info on prefers-reduced-motion see:
  https://css-tricks.com/revisiting-prefers-reduced-motion/
*/
@media (prefers-reduced-motion: no-preference) {
  .a11y img.logo {
    animation: logo-spin infinite 20s linear;
  }
}

.a11y h4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.8rem;
}

.a11y .radio-button {
  display: block;
}

.a11y input#email-field {
  margin-left: 1rem;
}
