/* Layout */

.comparison {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 4rem;
  padding: 4rem;
}

header {
  display: block;
  text-align: center;
  background-color: var(--txi-purple);
  color: var(--txi-white);
  padding: 5rem;
}

.content {
  background-color: var(--txi-white);
  padding: 2rem 5rem 5rem;
}

.competition {
  margin-top: 5rem;
}

form .field,
form .control {
  margin: 2rem 0;
}

form .radio-button {
  margin-top: 0.6rem;
  margin-left: 1rem;
}

/* Logo */

.logoContainer {
  display: block;
  text-align: center;
}

img.logo {
  height: 10rem;
  margin: 2rem 0;
  pointer-events: none;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
